.topleft {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 18px;
	color: #ffa000;
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
}

.buttonWhite {
	background-color: white;
	border: none;
	color: black;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

.buttonBlack {
	background-color: black;
	border: none;
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}