.container {
    position: relative;
}

.text-color {
    color: #303030;
}

.center {
    align-content: center;
    position: relative;
    width: 100%;
}

.text-center {
    text-align: center;
    border: 0px;
}

.text-left {
    text-align: left;
    border: 0px;
}

.font-18 {
    font-size: 18px;
}


/* Create two equal columns that floats next to each other */
.column {
    position: relative;
    float: left;
    width: 50%;
    padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.margin {
    margin: 20px;
}

.buttonOrange {
    background-color: orange;
    border: none;
    color: white;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
}

.buttonGreen {
    background-color: forestgreen;
    border: none;
    color: white;
    height: 30px;
}

.buttonRed {
    background-color: darkred;
    border: none;
    color: white;
}

.buttonAddEmployee {
    background-color: orange;
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
    height: 35px;
}

.empLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.empUpdateButton {
    background-color: forestgreen;
    border: none;
    color: white;
    height: 30px;
    width: 150px;
}

.submitReservation {
    background-color: orange;
    border: none;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 4px;
}
