.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid black;
    text-align: left;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

.table-full-width {
    width: 100%;
}

.table-no-border {
    border-collapse: collapse;
}

.table-no-border, th, td {
    border: none;
    text-align: left;
}
